@using DomainLayer.Enums;
@using DomainLayer.Models;
@model IEnumerable<Club>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="containrt">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="@item.Image"/>
                    <div class="card-body">
                        <p class="card-text">@item.Title</p>
                        <p class="card-text">@item.Description</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a asp-controller="club" asp-action="Details" asp-route-id="@item.ID" class="btn btn-sm btn-outline-primary">Details</a>
                                <a class="btn btn-sm btn-outline-secondary" asp-controller="Club" asp-action="Update" asp-route-id="@item.ID" btn-outline-secondary">Edit</a>
                            </div>
                            <small class="text-muted">@item.ClubCategory</small>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <a asp-controller="club" asp-action="Create" class="btn btn-sm btn-primary">Create A Club</a>
</div>

